{% extends 'partials/base.html' %}
{% block title %} Reservations Page {% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}

<!-- Table -->
<div class="d-flex justify-content-end mt-4">
    <div class="col-md-8">
        <table class="table bg-white m-0">
            <thead class="bg-info">
                <tr class="text-white">
                    <th scope="col">Action</th>
                    <th scope="col">Item</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Reserved by</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="btn btn-info btn-sm" href="">View</a></td>
                    <td>Portable</td>
                    <td>DRTI</td>
                    <td>2</td>
                    <td>Mohamed</td>
                </tr>
                <tr>
                    <td><a class="btn btn-info btn-sm" href="">View</a></td>
                    <td>Tablette</td>
                    <td>DCAF</td>
                    <td>4</td>
                    <td>JF</td>
                </tr>
                <tr>
                    <td><a class="btn btn-info btn-sm" href="">View</a></td>
                    <td>Saturomètre</td>
                    <td>masimo canada ulc</td>
                    <td>1</td>
                    <td>Agustina</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



{% endblock %}